<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><style type="text/css"></style>
    <script src="https://use.fontawesome.com/bddf2542cd.js"></script>
    <link rel="stylesheet" href="css/util.css" type="text/css">



    <title>Link Sharing</title>
</head>

<body>
<div class="panel panel-default">
    <div class="panel-body" style="padding-bottom: 1px;">
        <div class="col-md-6">
            <a href="#"> <h4 style="text-decoration: underline">Link Sharing </h4></a>
        </div>
        <div class="col-md-6">
            <div class="col-md-8">
                <div class="inner-addon form-inline">
                    <input type="text" class="form-control" placeholder="Search">
                    <i class="glyphicon glyphicon-search"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-2" style="margin-top: 11px;">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="col-md-8" style="margin-top: 9px;float: left;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Lovjit

                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Users</a></li>
                            <li><a href="#">Topics</a></li>
                            <li><a href="#">Posts</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </div>
            </div>



            <!--<input type="text" placeholder="Search">
            <button type="submit" class="btn"><i class="icon-search"></i></button>-->
        </div>




    </div>

</div>

<div class="container">

    <div class="col-md-5">

        <section class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <img src="https://image.freepik.com/free-icon/user-silhouette_318-79814.png" style="border: solid">
                        </div>
                        <div class="col-md-7">
                            <section class="panel">
                                <div class="row">
                                    <h3 style="margin-top: 1px;">Lovjit Singh Bedi</h3>
                                </div>
                                <div class="row">
                                    <span style="color : grey"> @Lovjit</span>
                                </div>
                                <br>
                                <div class="row">

                                    <span style="color : grey;margin-left: inherit;" class="col-md-5"> Subscription</span>

                                    <span style="color : grey;margin-left: inherit;" class="col-md-4"> Topic</span>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span style="color : grey;margin-left: inherit;" class="col-md-offset-8"> 50</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span style="color : grey;margin-left: inherit;" class="col-md-offset-7"> 24</span>
                                    </div>
                                </div>
                            </section>

                        </div>

                    </div>


                </div>




            </div>





        </section>

        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="panel-title">Subscription</h3>
                    </div>
                    <div class="col-md-9">
                        <div class="dropdown pull-right">
                            <a href="#"> <span style="text-decoration: underline">View All </span></a>
                        </div>
                    </div>
                </div>

            </header>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-12">

                        <div class="col-md-4">
                            <img src="https://image.freepik.com/free-icon/user-silhouette_318-79814.png" style="border: solid">
                        </div>

                        <div class="col-md-8">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="#"><span style="text-decoration: underline">Grails </span></a>
                                </div>
                                <br>
                                <div class="row">
                                    <span class="col-md-4" style="color : grey;margin-left: inherit"> @Lovjit </span>
                                    <div class="col-md-8">

                                        <span style="color : grey;margin-left: inherit;" class="col-md-9"> Subscription</span>

                                        <span style="color : grey;margin-left: inherit;" class="col-md-3"> Topic</span>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style=" margin-left: inherit">
                                        <a href="#" ><span style="text-decoration: underline;">Unsubscribe</span></a>
                                    </div>
                                    <div class="col-md-offset-4">
                                        <span style="color : grey;margin-left: inherit;" class="">50</span>
                                        <span style="color : grey;margin-left: inherit;" class="">24</span>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-5" style="margin-left: inherit">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >Serious
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Very Serious</a></li>
                                            <li><a href="#">Casual</a></li>
                                        </ul>
                                    </div>
                                    </div>
                                    <div class="col-md-5" style="margin-left: inherit">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
                                                Private
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Public</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="padding-top: 10px">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">

                    <div class="col-md-12">

                        <div class="col-md-4">
                            <img src="https://image.freepik.com/free-icon/user-silhouette_318-79814.png" style="border: solid">
                        </div>

                        <div class="col-md-8">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="#"><span style="text-decoration: underline">Grails </span></a>
                                </div>
                                <br>
                                <div class="row">
                                    <span class="col-md-4" style="color : grey;margin-left: inherit"> @Lovjit </span>
                                    <div class="col-md-8">

                                        <span style="color : grey;margin-left: inherit;" class="col-md-9"> Subscription</span>

                                        <span style="color : grey;margin-left: inherit;" class="col-md-3"> Topic</span>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style=" margin-left: inherit">
                                        <a href="#" ><span style="text-decoration: underline;">Unsubscribe</span></a>
                                    </div>
                                    <div class="col-md-offset-4">
                                        <span style="color : grey;margin-left: inherit;" class="">50</span>
                                        <span style="color : grey;margin-left: inherit;" class="">24</span>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-5" style="margin-left: inherit">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >Serious
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Very Serious</a></li>
                                                <li><a href="#">Casual</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="padding-top: 10px">
                                        <i class="fa fa-envelope" data-toggle="modal" data-target="#send-invitation" aria-hidden="true"></i>&nbsp;
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div id="send-invitation" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Send Invitation</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label for="send-invitation-email">Email</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="email" class="form-control" id="send-invitation-email" placeholder="Enter email">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label for="send-invitation-topic">Topic</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" id="send-invitation-topic" placeholder="Prefilled Read Only topic">
                                                        </div>
                                                    </div>
                                                </div>




                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default">Invite</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="panel-title">Trending Topics</h3>
                    </div>
                </div>

            </header>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-12">

                        <div class="col-md-4">
                            <img src="https://image.freepik.com/free-icon/user-silhouette_318-79814.png" style="border: solid">
                        </div>

                        <div class="col-md-8">
                            <div class="container-fluid">
                                <div class="row">
                                    <a href="#"><span style="text-decoration: underline">Grails </span></a>
                                </div>
                                <br>
                                <div class="row">
                                    <span class="col-md-4" style="color : grey;margin-left: inherit"> @Lovjit </span>
                                    <div class="col-md-8">
                                        <span style="color : grey;margin-left: inherit;" class="col-md-9"> Subscription</span>
                                        <span style="color : grey;margin-left: inherit;" class="col-md-3"> Topic</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style=" margin-left: inherit">
                                        <a href="#" ><span style="text-decoration: underline;">Subscribe</span></a>
                                    </div>
                                    <div class="col-md-offset-4">
                                        <span style="color : grey;margin-left: inherit;" class="">50</span>
                                        <span style="color : grey;margin-left: inherit;" class="">24</span>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">

                    <div class="col-md-12">

                        <div class="col-md-4">
                            <img src="https://image.freepik.com/free-icon/user-silhouette_318-79814.png" style="border: solid">
                        </div>

                        <div class="col-md-8">
                            <div class="container-fluid">
                                <div class="row">
                                    <!--<a href="#"><span style="text-decoration: underline">Grails </span></a>-->
                                    <div class="col-md-6" style="margin-left: inherit">
                                        <a href="#" class="topic-link"><span style="text-decoration: underline">Grails </span></a>
                                        <input class="topic-text" type="text" placeholder="Grails" class="form-control" style="display: none">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="topic-save" class="btn btn-sm btn-success" style="display: none">Save</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="topic-cancel" class="btn btn-sm btn-default" style="display: none">Cancel</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <span class="col-md-4" style="color : grey;margin-left: inherit"> @Lovjit </span>
                                    <div class="col-md-8">

                                        <span style="color : grey;margin-left: inherit;" class="col-md-9"> Subscription</span>

                                        <span style="color : grey;margin-left: inherit;" class="col-md-3"> Topic</span>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style=" margin-left: inherit">
                                        <a href="#" ><span style="text-decoration: underline;">Unsubscribe</span></a>
                                    </div>
                                    <div class="col-md-offset-4">
                                        <span style="color : grey;margin-left: inherit;" class="">50</span>
                                        <span style="color : grey;margin-left: inherit;" class="">24</span>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-5" style="margin-left: inherit">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >Serious
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Very Serious</a></li>
                                                <li><a href="#">Casual</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5" style="margin-left: inherit">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
                                                Private
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Public</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="padding-top: 10px">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
                                        <i class="fa fa-pencil-square-o topic-edit" aria-hidden="true"></i>&nbsp;
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-7">

        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </header>
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="form-group col-md-10">
                            <label for="email">Email\Username:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                        </div>
                    </div>
                    <!--<div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>-->
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-5" style="padding-top: 13px">
                                <a href="#">Forgot Password</a>
                            </div>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-default btn-lg" style="float: right">Login</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">Register</h3>
            </header>
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="form-group col-md-10">
                            <label for="first-name">First Name*:</label>
                            <input type="text" class="form-control" id="first-name" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            <label for="last-name">Last Name*:</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            <label for="email-register">Email:</label>
                            <input type="email" class="form-control" id="email-register" placeholder="Enter Email Id">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            <label for="user-name">User Name*:</label>
                            <input type="text" class="form-control" id="user-name" placeholder="Enter User Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            <label for="password-register">Password*:</label>
                            <input type="password" class="form-control" id="password-register" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            <label for="password-confirm-register">Confirm Password*:</label>
                            <input type="password" class="form-control" id="password-confirm-register" placeholder="Confirm password">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-10">
                            <!--<label class="btn btn-default btn-file">
                                Upload Photo <input type="file" style="display: none;">
                            </label>-->
                            <label for="fileupload">Photo</label>
                            <input id="fileupload" class="form-control" type="file">
                        </div>
                    </div>




                    <div class="row">

                        <button type="submit" class="btn btn-default btn-lg center-block">Register</button>

                    </div>
                </form>
            </div>
        </section>

    </div>


</div>







</body>


<script>
    $(document).ready(function(){
        $(".topic-edit").click(function(){
            debugger;
            $(".topic-edit").siblings(".topic-link").hide()
            $(".topic-edit").siblings(".topic-text").show()
            $(".topic-edit").siblings(".topic-save").show()
            $(".topic-edit").siblings(".topic-cancel").show()
            /*$("#topic-link").hide()
            $("#topic-text").show()
            $("#topic-save").show()
            $("#topic-cancel").show()*/

        });
        $(".topic-cancel").click(function(){

            $(".topic-cancel").siblings(".topic-link").hide()
            $(".topic-cancel").siblings(".topic-text").show()
            $(".topic-cancel").siblings(".topic-save").show()
            $(".topic-cancel").siblings(".topic-cancel").show()


        });

        $(".topic-save").click(function () {
           var modifiedTopicVal = $(".topic-text").val()
            $("#topic-link span").html(modifiedTopicVal)
            $("#topic-link").show()
            $("#topic-text").hide()
            $("#topic-save").hide()
            $("#topic-cancel").hide()
        });





    });
</script>


</html>